html, body {
    padding:0;
    margin: 0;
    height: 100%;
}

.switch {
    position: relative;
    width: 100%;
    height: 56.25%;
}

.switch img {
    width: 100%;
    height: 100%;
    display: block;
}
.switch img:not(:first-child) {
    position: absolute;
    top: 0;
    left: 0;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.controls .left,
.controls .right {
    display: flex;
    flex-direction: column;
}